part1/tool2-ms/EDOM/Dsl/GeneratedCode/MoneyManagerModelSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema id="MoneyManagerModelSchema" targetNamespace="http://schemas.microsoft.com/dsltools/MoneyManagerModel" elementFormDefault="qualified" xmlns="http://schemas.microsoft.com/dsltools/MoneyManagerModel" xmlns:core="http://schemas.microsoft.com/VisualStudio/2008/DslTools/Core" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import id="CoreSchema" namespace="http://schemas.microsoft.com/VisualStudio/2008/DslTools/Core" />
  <!-- Model -->
  <xsd:element name="model" type="Model" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Model">
    <xsd:annotation>
      <xsd:documentation>The root in which all other elements are embedded. Appears as a diagram.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: ExampleModelHasElements -->
          <xsd:element name="elements" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ExampleModelHasElements</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:choice minOccurs="0" maxOccurs="unbounded" >
                  <xsd:element ref="exampleModelHasElements">
                    <xsd:annotation>
                      <xsd:documentation>[Relationship deriving from ExampleModelHasElements needs to be serialized in full-form]</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                  <xsd:element ref="userSpec" >
                    <xsd:annotation>
                      <xsd:documentation>[Target role-player]</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                </xsd:choice>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: ModelTemAccountSpec -->
          <xsd:element name="accountSpec" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ModelTemAccountSpec</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="modelTemAccountSpec" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ModelTemAccountSpec needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: ModelHasTransactionSpec -->
          <xsd:element name="transactionSpec" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ModelHasTransactionSpec</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="modelHasTransactionSpec" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ModelHasTransactionSpec needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: ModelHasAttributeType -->
          <xsd:element name="attributeType" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ModelHasAttributeType</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="modelHasAttributeType" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ModelHasAttributeType needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: ModelTemAssociation -->
          <xsd:element name="association" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ModelTemAssociation</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="modelTemAssociation" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ModelTemAssociation needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- dslVersion -->
        <xsd:attribute name="dslVersion" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Version of the model serialized in this file.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Name -->
        <xsd:attribute name="name" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Model Moniker -->
  <xsd:element name="modelMoniker" type="ModelMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ModelMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Model instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- UserSpec -->
  <xsd:element name="userSpec" type="UserSpec" substitutionGroup="core:modelElement" />
  <xsd:complexType name="UserSpec">
    <xsd:annotation>
      <xsd:documentation>Elements embedded in the model. Appear as boxes on the diagram.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: UserSpecTemUserAttribute -->
          <xsd:element name="userAttribute" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of UserSpecTemUserAttribute</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="userSpecTemUserAttribute" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of UserSpecTemUserAttribute needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: UserSpecReferênciasAssociations -->
          <xsd:element name="associations" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of UserSpecReferênciasAssociations</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="userSpecReferênciasAssociations" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of UserSpecReferênciasAssociations needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Cardinality -->
        <xsd:attribute name="cardinality" type="xsd:string" />
        <!-- Property: Name -->
        <xsd:attribute name="name" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- UserSpec Moniker -->
  <xsd:element name="userSpecMoniker" type="UserSpecMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="UserSpecMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for UserSpec instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- AccountSpec -->
  <xsd:element name="accountSpec" type="AccountSpec" substitutionGroup="core:modelElement" />
  <xsd:complexType name="AccountSpec">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: AccountSpecTemAccountAttribute -->
          <xsd:element name="accountAttribute" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of AccountSpecTemAccountAttribute</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="accountSpecTemAccountAttribute" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of AccountSpecTemAccountAttribute needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: AccountSpecReferênciasAssociations -->
          <xsd:element name="associations" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of AccountSpecReferênciasAssociations</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="accountSpecReferênciasAssociations" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of AccountSpecReferênciasAssociations needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Cardinality -->
        <xsd:attribute name="cardinality" type="xsd:string" />
        <!-- Property: Name -->
        <xsd:attribute name="name" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- AccountSpec Moniker -->
  <xsd:element name="accountSpecMoniker" type="AccountSpecMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="AccountSpecMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for AccountSpec instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- TransactionSpec -->
  <xsd:element name="transactionSpec" type="TransactionSpec" substitutionGroup="core:modelElement" />
  <xsd:complexType name="TransactionSpec">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: TransactionSpecTemTransactionAttribute -->
          <xsd:element name="transactionAttribute" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of TransactionSpecTemTransactionAttribute</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="transactionSpecTemTransactionAttribute" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of TransactionSpecTemTransactionAttribute needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: TransactionSpecReferênciasAssociations -->
          <xsd:element name="associations" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of TransactionSpecReferênciasAssociations</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="transactionSpecReferênciasAssociations" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of TransactionSpecReferênciasAssociations needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Cardinality -->
        <xsd:attribute name="cardinality" type="xsd:string" />
        <!-- Property: Name -->
        <xsd:attribute name="name" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- TransactionSpec Moniker -->
  <xsd:element name="transactionSpecMoniker" type="TransactionSpecMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="TransactionSpecMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for TransactionSpec instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- AttributeType -->
  <xsd:element name="attributeType" type="AttributeType" substitutionGroup="core:modelElement" />
  <xsd:complexType name="AttributeType">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Text -->
        <xsd:attribute name="text" type="xsd:string" />
        <!-- Property: Number -->
        <xsd:attribute name="number" type="xsd:string" />
        <!-- Property: Choice -->
        <xsd:attribute name="choice" type="xsd:boolean" />
        <!-- Property: Date -->
        <xsd:attribute name="date" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- AttributeType Moniker -->
  <xsd:element name="attributeTypeMoniker" type="AttributeTypeMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="AttributeTypeMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for AttributeType instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Association -->
  <xsd:element name="association" type="Association" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Association">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: AssociationReferênciasTransactionSpec -->
          <xsd:element name="transactionSpec" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instance of AssociationReferênciasTransactionSpec</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="associationReferênciasTransactionSpec" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of AssociationReferênciasTransactionSpec needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: AssociationReferênciasAccountSpec -->
          <xsd:element name="accountSpec" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instance of AssociationReferênciasAccountSpec</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="associationReferênciasAccountSpec" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of AssociationReferênciasAccountSpec needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: AssociationReferênciasUserSpec -->
          <xsd:element name="userSpec" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instance of AssociationReferênciasUserSpec</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="associationReferênciasUserSpec" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of AssociationReferênciasUserSpec needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Name -->
        <xsd:attribute name="name" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Association Moniker -->
  <xsd:element name="associationMoniker" type="AssociationMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="AssociationMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Association instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- UserAttribute -->
  <xsd:element name="userAttribute" type="UserAttribute" substitutionGroup="core:modelElement" />
  <xsd:complexType name="UserAttribute">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: UserAttributeReferênciasAttributeTypes -->
          <xsd:element name="attributeTypes" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instance of UserAttributeReferênciasAttributeTypes</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="userAttributeReferênciasAttributeTypes" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of UserAttributeReferênciasAttributeTypes needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Name -->
        <xsd:attribute name="name" type="xsd:string" />
        <!-- Property: AttributeType -->
        <xsd:attribute name="attributeType" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- UserAttribute Moniker -->
  <xsd:element name="userAttributeMoniker" type="UserAttributeMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="UserAttributeMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for UserAttribute instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- AccountAttribute -->
  <xsd:element name="accountAttribute" type="AccountAttribute" substitutionGroup="core:modelElement" />
  <xsd:complexType name="AccountAttribute">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: AccountAttributeReferênciasAttributeTypes -->
          <xsd:element name="attributeTypes" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instance of AccountAttributeReferênciasAttributeTypes</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="accountAttributeReferênciasAttributeTypes" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of AccountAttributeReferênciasAttributeTypes needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Name -->
        <xsd:attribute name="name" type="xsd:string" />
        <!-- Property: AttributeType -->
        <xsd:attribute name="attributeType" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- AccountAttribute Moniker -->
  <xsd:element name="accountAttributeMoniker" type="AccountAttributeMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="AccountAttributeMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for AccountAttribute instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- TransactionAttribute -->
  <xsd:element name="transactionAttribute" type="TransactionAttribute" substitutionGroup="core:modelElement" />
  <xsd:complexType name="TransactionAttribute">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: TransactionAttributeReferênciasAttributeTypes -->
          <xsd:element name="attributeTypes" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instance of TransactionAttributeReferênciasAttributeTypes</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="transactionAttributeReferênciasAttributeTypes" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of TransactionAttributeReferênciasAttributeTypes needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Name -->
        <xsd:attribute name="name" type="xsd:string" />
        <!-- Property: AttributeType -->
        <xsd:attribute name="attributeType" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- TransactionAttribute Moniker -->
  <xsd:element name="transactionAttributeMoniker" type="TransactionAttributeMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="TransactionAttributeMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for TransactionAttribute instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ExampleModelHasElements -->
  <xsd:element name="exampleModelHasElements" abstract="true" type="ExampleModelHasElements" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ExampleModelHasElements" abstract="true" >
    <xsd:annotation>
      <xsd:documentation>Embedding relationship between the Model and Elements</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end UserSpec -->
          <xsd:element ref="userSpec" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ExampleModelHasElements Moniker -->
  <xsd:element name="exampleModelHasElementsMoniker" type="ExampleModelHasElementsMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ExampleModelHasElementsMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ExampleModelHasElements instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ModelTemAccountSpec -->
  <xsd:element name="modelTemAccountSpec" type="ModelTemAccountSpec" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ModelTemAccountSpec">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end AccountSpec -->
          <xsd:element ref="accountSpec" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ModelTemAccountSpec Moniker -->
  <xsd:element name="modelTemAccountSpecMoniker" type="ModelTemAccountSpecMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ModelTemAccountSpecMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ModelTemAccountSpec instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ModelHasTransactionSpec -->
  <xsd:element name="modelHasTransactionSpec" type="ModelHasTransactionSpec" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ModelHasTransactionSpec">
    <xsd:annotation>
      <xsd:documentation>Description for Empresa.MoneyManagerModel.ModelHasTransactionSpec</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end TransactionSpec -->
          <xsd:element ref="transactionSpec" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ModelHasTransactionSpec Moniker -->
  <xsd:element name="modelHasTransactionSpecMoniker" type="ModelHasTransactionSpecMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ModelHasTransactionSpecMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ModelHasTransactionSpec instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ModelHasAttributeType -->
  <xsd:element name="modelHasAttributeType" type="ModelHasAttributeType" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ModelHasAttributeType">
    <xsd:annotation>
      <xsd:documentation>Description for Empresa.MoneyManagerModel.ModelHasAttributeType</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end AttributeType -->
          <xsd:element ref="attributeType" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ModelHasAttributeType Moniker -->
  <xsd:element name="modelHasAttributeTypeMoniker" type="ModelHasAttributeTypeMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ModelHasAttributeTypeMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ModelHasAttributeType instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ModelTemAssociation -->
  <xsd:element name="modelTemAssociation" type="ModelTemAssociation" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ModelTemAssociation">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Association -->
          <xsd:element ref="association" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ModelTemAssociation Moniker -->
  <xsd:element name="modelTemAssociationMoniker" type="ModelTemAssociationMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ModelTemAssociationMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ModelTemAssociation instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- UserSpecTemUserAttribute -->
  <xsd:element name="userSpecTemUserAttribute" type="UserSpecTemUserAttribute" substitutionGroup="core:modelElement" />
  <xsd:complexType name="UserSpecTemUserAttribute">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end UserAttribute -->
          <xsd:element ref="userAttribute" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- UserSpecTemUserAttribute Moniker -->
  <xsd:element name="userSpecTemUserAttributeMoniker" type="UserSpecTemUserAttributeMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="UserSpecTemUserAttributeMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for UserSpecTemUserAttribute instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- AccountSpecTemAccountAttribute -->
  <xsd:element name="accountSpecTemAccountAttribute" type="AccountSpecTemAccountAttribute" substitutionGroup="core:modelElement" />
  <xsd:complexType name="AccountSpecTemAccountAttribute">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end AccountAttribute -->
          <xsd:element ref="accountAttribute" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- AccountSpecTemAccountAttribute Moniker -->
  <xsd:element name="accountSpecTemAccountAttributeMoniker" type="AccountSpecTemAccountAttributeMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="AccountSpecTemAccountAttributeMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for AccountSpecTemAccountAttribute instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- TransactionSpecTemTransactionAttribute -->
  <xsd:element name="transactionSpecTemTransactionAttribute" type="TransactionSpecTemTransactionAttribute" substitutionGroup="core:modelElement" />
  <xsd:complexType name="TransactionSpecTemTransactionAttribute">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end TransactionAttribute -->
          <xsd:element ref="transactionAttribute" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- TransactionSpecTemTransactionAttribute Moniker -->
  <xsd:element name="transactionSpecTemTransactionAttributeMoniker" type="TransactionSpecTemTransactionAttributeMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="TransactionSpecTemTransactionAttributeMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for TransactionSpecTemTransactionAttribute instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- AssociationReferênciasTransactionSpec -->
  <xsd:element name="associationReferênciasTransactionSpec" type="AssociationReferênciasTransactionSpec" substitutionGroup="core:modelElement" />
  <xsd:complexType name="AssociationReferênciasTransactionSpec">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end TransactionSpec -->
          <xsd:element ref="transactionSpecMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- AssociationReferênciasTransactionSpec Moniker -->
  <xsd:element name="associationReferênciasTransactionSpecMoniker" type="AssociationReferênciasTransactionSpecMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="AssociationReferênciasTransactionSpecMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for AssociationReferênciasTransactionSpec instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- TransactionSpecReferênciasAssociations -->
  <xsd:element name="transactionSpecReferênciasAssociations" type="TransactionSpecReferênciasAssociations" substitutionGroup="core:modelElement" />
  <xsd:complexType name="TransactionSpecReferênciasAssociations">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Association -->
          <xsd:element ref="associationMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- TransactionSpecReferênciasAssociations Moniker -->
  <xsd:element name="transactionSpecReferênciasAssociationsMoniker" type="TransactionSpecReferênciasAssociationsMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="TransactionSpecReferênciasAssociationsMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for TransactionSpecReferênciasAssociations instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- AssociationReferênciasAccountSpec -->
  <xsd:element name="associationReferênciasAccountSpec" type="AssociationReferênciasAccountSpec" substitutionGroup="core:modelElement" />
  <xsd:complexType name="AssociationReferênciasAccountSpec">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end AccountSpec -->
          <xsd:element ref="accountSpecMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- AssociationReferênciasAccountSpec Moniker -->
  <xsd:element name="associationReferênciasAccountSpecMoniker" type="AssociationReferênciasAccountSpecMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="AssociationReferênciasAccountSpecMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for AssociationReferênciasAccountSpec instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- AccountSpecReferênciasAssociations -->
  <xsd:element name="accountSpecReferênciasAssociations" type="AccountSpecReferênciasAssociations" substitutionGroup="core:modelElement" />
  <xsd:complexType name="AccountSpecReferênciasAssociations">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Association -->
          <xsd:element ref="associationMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- AccountSpecReferênciasAssociations Moniker -->
  <xsd:element name="accountSpecReferênciasAssociationsMoniker" type="AccountSpecReferênciasAssociationsMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="AccountSpecReferênciasAssociationsMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for AccountSpecReferênciasAssociations instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- AssociationReferênciasUserSpec -->
  <xsd:element name="associationReferênciasUserSpec" type="AssociationReferênciasUserSpec" substitutionGroup="core:modelElement" />
  <xsd:complexType name="AssociationReferênciasUserSpec">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end UserSpec -->
          <xsd:element ref="userSpecMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- AssociationReferênciasUserSpec Moniker -->
  <xsd:element name="associationReferênciasUserSpecMoniker" type="AssociationReferênciasUserSpecMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="AssociationReferênciasUserSpecMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for AssociationReferênciasUserSpec instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- UserSpecReferênciasAssociations -->
  <xsd:element name="userSpecReferênciasAssociations" type="UserSpecReferênciasAssociations" substitutionGroup="core:modelElement" />
  <xsd:complexType name="UserSpecReferênciasAssociations">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Association -->
          <xsd:element ref="associationMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- UserSpecReferênciasAssociations Moniker -->
  <xsd:element name="userSpecReferênciasAssociationsMoniker" type="UserSpecReferênciasAssociationsMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="UserSpecReferênciasAssociationsMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for UserSpecReferênciasAssociations instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- UserAttributeReferênciasAttributeTypes -->
  <xsd:element name="userAttributeReferênciasAttributeTypes" type="UserAttributeReferênciasAttributeTypes" substitutionGroup="core:modelElement" />
  <xsd:complexType name="UserAttributeReferênciasAttributeTypes">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end AttributeType -->
          <xsd:element ref="attributeTypeMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- UserAttributeReferênciasAttributeTypes Moniker -->
  <xsd:element name="userAttributeReferênciasAttributeTypesMoniker" type="UserAttributeReferênciasAttributeTypesMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="UserAttributeReferênciasAttributeTypesMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for UserAttributeReferênciasAttributeTypes instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- AccountAttributeReferênciasAttributeTypes -->
  <xsd:element name="accountAttributeReferênciasAttributeTypes" type="AccountAttributeReferênciasAttributeTypes" substitutionGroup="core:modelElement" />
  <xsd:complexType name="AccountAttributeReferênciasAttributeTypes">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end AttributeType -->
          <xsd:element ref="attributeTypeMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- AccountAttributeReferênciasAttributeTypes Moniker -->
  <xsd:element name="accountAttributeReferênciasAttributeTypesMoniker" type="AccountAttributeReferênciasAttributeTypesMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="AccountAttributeReferênciasAttributeTypesMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for AccountAttributeReferênciasAttributeTypes instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- TransactionAttributeReferênciasAttributeTypes -->
  <xsd:element name="transactionAttributeReferênciasAttributeTypes" type="TransactionAttributeReferênciasAttributeTypes" substitutionGroup="core:modelElement" />
  <xsd:complexType name="TransactionAttributeReferênciasAttributeTypes">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end AttributeType -->
          <xsd:element ref="attributeTypeMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- TransactionAttributeReferênciasAttributeTypes Moniker -->
  <xsd:element name="transactionAttributeReferênciasAttributeTypesMoniker" type="TransactionAttributeReferênciasAttributeTypesMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="TransactionAttributeReferênciasAttributeTypesMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for TransactionAttributeReferênciasAttributeTypes instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
</xsd:schema>

